@import "colors";

nav{
    position: sticky;
    top:0;
    background-color: $secondary;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    >img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    >div{
        display: flex;
        align-items: center;
        >a{
            color: $tertiary;
            font-size: 1.5rem;
            margin: 0 1rem;
            transition: all 0.3s;
            &:hover{
                opacity: 0.5;
            }
            >t{
                color: black;
            }
            >p{
                position: absolute;
                background-color: $primary;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                font: 1000 1rem "Roboto";
                display: grid;
                place-items: center;
                transform: translate(80%,-80%);
            }
        }
    }
}